name: build

on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, labeled, unlabeled, synchronize ]

env:
  REPO_NAME: flutter-app-template
  GRADLE_OPTS: -Dorg.gradle.daemon=false -Dorg.gradle.configureondemand=true -Dkotlin.incremental=false -Dorg.gradle.jvmargs="-Xmx4g -Xms128m -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8 -XX:MaxMetaspaceSize=1024m"
  FLUTTER_VERSION: 3.0.1
  JAVA_VERSION: 11

jobs:
  build:
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 11
        api-level:
          - 31
        device:
          - "iPhone 13 Pro Max"

    steps:
      - name: Checkout Project
        uses: actions/checkout@v2.4.0

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1.0.4

      - name: Cache Gradle Dependencies
        uses: actions/cache@v3.0.2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper/
            ~/.android/build-cache
            /Users/runner/hostedtoolcache/flutter
            /Users/runner/.pub-cache
          key: ${{ runner.os }}-build-${{ env.FLUTTER_VERSION }}
          restore-keys: |
            ${{ runner.os }}-build

      - name: Configure JDK
        uses: actions/setup-java@v2.5.0
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}
      - run: java -version

      - name: Configure Flutter
        uses: subosito/flutter-action@v2.3.0
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          cache: true
      - run: |
          flutter --version
          flutter config --no-analytics
          
      - name: Run Analyzer
        run: flutter analyze --suppress-analytics

      - name: Build Android
        run: flutter build apk --release --obfuscate --split-debug-info build/app/outputs/symbols-apk/ --target-platform android-arm64 --suppress-analytics

      - name: Build iOS
        run: flutter build ios --release --obfuscate --split-debug-info build/ios/outputs/symbols --no-codesign --suppress-analytics

      - name: Build Website
        run: flutter build web --release --base-href /flutter-app-template/ --suppress-analytics

      - name: Run Unit Tests
        run: flutter test --coverage --suppress-analytics

      - name: Start Android Emulator and Run Driver Tests
        uses: reactivecircus/android-emulator-runner@v2.23.0
        continue-on-error: true
        with:
          api-level: ${{ matrix.api-level }}
          script: flutter drive --target=test_driver/app.dart --suppress-analytics || true

      - name: Start iOS Simulator and Run Driver Tests
        run: |
          echo "Listing Devices"
          xcrun xctrace list devices
          UDID=$(
            xcrun xctrace list devices 2>&1 |
            grep -m 1 "${{ matrix.device }}" |
            awk -F'[()]' '{ print $4 }'
          )
          echo $UDID
          xcrun simctl boot "${UDID:?No Simulator with this name found}"
          flutter drive --target=test_driver/app.dart --suppress-analytics || true

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2.3.1
        if: always()
        with:
          name: android-gif-example-${{ github.workflow }}-${{ github.run_id }}
          path: |
            build/app/outputs/apk/release
            build/app/outputs/bundle/release
            build/app/outputs/symbols-apk
            build/app/outputs/symbols-appbundle
            build/app/reports
            build/ios/Release-iphoneos
            build/ios/symbols
            build/web
          if-no-files-found: warn

  publish:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    needs:
      - build

    steps:
      - name: Checkout Project
        uses: actions/checkout@v2.4.0

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1.0.4

      - name: Configure JDK
        uses: actions/setup-java@v2.5.0
        with:
          distribution: temurin
          java-version: 11

      - name: Configure Flutter
        uses: subosito/flutter-action@v2.3.0
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          cache: true

      - name: Build Website
        run: flutter build web --release --base-href /flutter-app-template/ --suppress-analytics

      - name: Publish Website
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
          user_name: "Github Actions"
          user_email: "action@github.com"
