name: build

on: [push, pull_request]

env:
  GRADLE_OPTS: -Dorg.gradle.daemon=false -Dorg.gradle.configureondemand=true -Dkotlin.incremental=false -Dorg.gradle.jvmargs="-Xmx4g -Xms128m -XX:MaxPermSize=4096m -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8 -XX:MaxMetaspaceSize=1024m"

jobs:
  build:
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 11
        device:
          - "iPhone 12 Pro Max"

    steps:
      - name: Checkout project
        uses: actions/checkout@v2

      - name: Cache Gradle dependencies
        uses: actions/cache@v2.1.0
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper/
            ~/.android/build-cache
            $FLUTTER_HOME/.pub-cache
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/android/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Configure JDK
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: ${{ matrix.java-version }}

      - name: Start iOS simulator
        run: |
          UDID=$(
            xcrun xctrace list devices 2>&1 |
            grep -m 1 "${{ matrix.device }}" |
            awk -F'[()]' '{print $4}'
          )
          echo $UDID
          xcrun simctl boot "${UDID:?No Simulator with this name found}"

      - name: Configure Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 2.10.0
          channel: 'stable'

      - name: Turn off Dart and Flutter analytics
        run: |
          dart --disable-analytics
          flutter config --no-analytics

      - name: Build Android
        run: |
          flutter build apk --release --obfuscate --split-debug-info build/app/outputs/symbols-apk/ --target-platform android-arm64 --suppress-analytics
          flutter build appbundle --release --obfuscate --split-debug-info build/app/outputs/symbols-appbundle --target-platform android-arm64 --suppress-analytics

      - name: Build iOS
        run: |
          flutter build ios --release --obfuscate --split-debug-info build/ios/outputs/symbols --no-codesign --suppress-analytics

      - name: Build website
        run: flutter build web --release --csp --pwa-strategy none --suppress-analytics

      - name: Run analyzer
        run: flutter analyze --suppress-analytics

      - name: Run unit tests
        run: flutter test --coverage --suppress-analytics

#      - name: Run Driver tests
#        run: flutter drive --target=test_driver/app.dart --suppress-analytics

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: android-gif-example-${{ github.workflow }}-${{ github.run_id }}
          path: |
            build/app/outputs/apk/release
            build/app/outputs/bundle/release
            build/app/outputs/symbols-apk
            build/app/outputs/symbols-appbundle
            build/app/reports
            build/ios/Release-iphoneos
            build/ios/symbols
            build/web
          if-no-files-found: warn

      - name: Publish website
        run: .buildscript/publish-website.sh
        if: github.ref == 'refs/heads/master'
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
